
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  

}
body{
  background-color: #eee;
}
.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 500px;
  margin: 50px auto;
  padding: 8px;
  border-radius: 10px;
}
.app h1{
  text-align: center;
}

.form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.todo-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.todo-list{
  margin-top: 20px;
}